<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="py-3 py-lg-4">

            <header>
                <div class="h3 mb-1">Product description</div>
                <p>Specfication</p>
            </header>

            <div class="py-3 py-lg-4">
                <p>{{data.lorem.p1}}</p>

                <p>{{data.lorem.p1}}</p>
                <p>{{data.lorem.p2}}</p>
                <p>{{data.lorem.p3}}</p>
                <p>{{data.lorem.p4}}</p>
            </div>
        </div>
    </div>
</div>
