---
demo: true
no-header: true
divider-bg: dark
divider-svg: white
page-title: Product list flat
page-subtitle: Cards with flat filters
---
{{> comment title="Header"}}

<section class="box box-image bg-light text-white" style="background-image: url({{data.img}}demo/banner-1.jpg);">
    <div class="container">
        <header class="wow fadeInUp" data-wow-delay=".1s">
            <div class="row justify-content-center pt-5 text-center">
                <div class="col-lg-8">
                    <h1 class="mb-0">Everything you love</h1>
                    <p>Find new items now, with great deals and limited time offers</p>
                </div>
            </div>
        </header>
    </div>
</section>

{{> comment title="Products grid"}}

<section class="bg-white p-0 sider sider-left">
    <div class="container">
        <div class="row">

            {{> product-filter-sidebar-clean}}

            {{> comment title="Products content"}}

            <div class="col-lg-9 bg-white pl-lg-5">

                {{> comment title="Products header"}}

                <div class="pt-3 pt-lg-5 mb-3 mb-lg-4">
                    {{> product-filter-header}}
                </div>

                {{> comment title="Products collection"}}

                <div class="clearfix">

                    {{#each (take data.products 9)}}
                    <div class="card card-fill mb-2 mb-lg-4">
                        <div class="row align-items-center no-gutters">
                            <div class="col-5">
                                <div class="card-image">
                                    <img src="{{../data.img}}/demo/{{img}}" class="card-img-top" alt="Product image">
                                    {{#ifequal @index 1}}
                                    <span class="card-badge badge badge-danger text-uppercase mr-2">50%</span>
                                    {{/ifequal}}
                                    {{#ifequal @index 3}}
                                    <span class="card-badge badge badge-dark text-uppercase mr-2">Last offer</span>
                                    {{/ifequal}}
                                    {{#ifequal @index 4}}
                                    <span class="card-badge badge badge-success text-uppercase mr-2">New</span>
                                    {{/ifequal}}
                                </div>
                            </div>
                            <div class="col-7">
                                <div class="px-3 px-lg-4 py-3 py-lg-4">
                                    <h4 class="card-title mb-2">
                                        <a href="product-flat.html">{{title}}</a>
                                    </h4>
                                    <div class="d-none d-xl-block mb-4">
                                        <p>{{description}}</p>
                                    </div>
                                    <div class="text-muted pre-label">
                                        <span>${{price}}</span>
                                        <s>${{old-price}}</s>
                                    </div>
                                    <div class="pt-4 d-none d-lg-block">
                                        <a href="product-flat.html" class="btn btn-primary">
                                            Add to cart
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {{/each}}
                </div>

                <div class="pb-3 pb-lg-5">

                    {{> layout-pagination}}

                </div>

            </div>
        </div>
    </div>

</section>
