---
demo: true
no-header: true
nav-light: false
nav-relative: false
page-title: "Portfolio"
---
{{> comment title="Header"}}

<section class="bg-dark text-white" data-theme="dark">
    <div class="container">

        <header class="wow fadeInUp" data-wow-delay=".1s">
            <div class="pt-8 mb-5">
                <h1 class="mb-0">Meet us</h1>
                <p>When your mission is to be better, faster and smarter, you need the best people driving your vision forward.</p>
            </div>
        </header>

        <div class="row wow fadeInUp" data-wow-delay=".4s">
            <div class="col-6 col-lg-3">
                <hr>
                <p><a href="#" class="link link-right link-light">Services</a></p>
                <small class="text-muted">From digital strategy to measurable results</small>
            </div>
            <div class="col-6 col-lg-3">
                <hr>
                <p><a href="#" class="link link-right link-light">Cases</a></p>
                <small class="text-muted">Solutions we are proud to in our portfolio</small>
            </div>
            <div class="col-6 col-lg-3">
                <hr>
                <p><a href="#" class="link link-right link-light">About us</a></p>
                <small class="text-muted">Collaboration across professional competencies</small>
            </div>
            <div class="col-6 col-lg-3">
                <hr>
                <p><a href="#" class="link link-right link-light">Contact</a></p>
                <small class="text-muted">Come by for a cup of coffee</small>
            </div>
        </div>

    </div>
</section>

<hr class="dark divider">

<section class="bg-light-dark">
    <div class="container mt-lg-n7 mt-xl-n8">

        <div class="row no-gutters">

            {{#each (take data.users 9)}}
            <div class="col-6 col-lg-4">
                <div class="wow fadeInUp" data-wow-delay="1.{{@index}}s">
                    <div class="box box-image box-hover-drop shadow-sm" style="background-image:url({{img}})">
                        <div class="box-spacer-lg"></div>
                        <div class="box-content text-white">
                            <h4 class="mb-1 font-weight-normal">
                                <b class="text-uppercase p-1">{{name}}</b>
                                <span>{{lastname}}</span>
                            </h4>
                            <p>{{position}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}

        </div>
    </div>
</section>

{{> comment title="Goals"}}

<section class="bg-dark text-light">
    <div class="container-fluid">

        <header class="mb-5 text-center wow fadeInUp" data-wow-delay=".1s">
            <h2>Some of <b>our goals</b></h2>
            <p>We are constantly curious</p>
        </header>

        <div class="row">
            <div class="col-lg-4">
                <figure class="text-center wow fadeInUp" data-wow-delay=".3s">
                    <h2 class="display-2">50</h2>
                    <small class="pre-label">Projects</small>
                </figure>
            </div>

            <div class="col-lg-4">
                <figure class="text-center wow fadeInUp" data-wow-delay=".5s">
                    <h2 class="display-2">20</h2>
                    <small class="pre-label">Years of experience</small>
                </figure>
            </div>

            <div class="col-lg-4">
                <figure class="text-center wow fadeInUp" data-wow-delay=".7s">
                    <h2 class="display-2">100</h2>
                    <small class="pre-label">References</small>
                </figure>
            </div>

        </div>

    </div>
</section>

<hr class="dark divider">

{{> comment title="Testimonials"}}

<section class="bg-dark text-light" id="testimonials">
    <div class="container">

        <header class="text-center mb-3 mb-lg-5">
            <h2 class="wow fadeInUp" data-wow-delay=".1s">What client says</h2>
        </header>

        <div class="row justify-content-center">
            <div class="col-md-8 col-xl-6">
                <div class="wow fadeInUp" data-wow-delay=".9s">
                    <blockquote class="blockquote-prime">
                        <div class="owl-carousel" data-dots="true">
                            <div class="text-center">
                                <h4 class="mb-2">I could choose code, customer, or design, everything works pretty fine, love it.</h4>
                                <div class="text-center">
                                    <cite title="Source Title">John Doe</cite>
                                </div>
                            </div>
                            <div class="text-center">
                                <h4 class="mb-2">This site is all of perfect. <br />And customer support is professional.</h4>
                                <div class="text-center">
                                    <cite title="Source Title">Megan Right</cite>
                                </div>
                            </div>
                        </div>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</section>

<hr class="divider dark">
