<h2 class="pre-label font-size-base">Orders in process</h2>

<div class="mb-3 mb-lg-5">
    <div class="accordion br-sm" id="accordionOrdersExample">

        {{#each (take data.products 10)}}
        <div class="card card-fill mb-3 shadow-sm rounded">
            <div class="card-header bg-white py-4 p-2 p-md-4 pointer" id="heading-{{id}}" role="button" data-toggle="collapse" data-target="#collapseOne{{id}}" aria-expanded="true" aria-controls="collapseOne{{id}}">
                <div class="row">
                    <div class="col-xl-4">
                        <i class="icon icon-tag mr-3"></i>
                        <span>{{prod-id}}</span>
                    </div>
                    <div class="col-6 col-xl-3">
                        <i class="icon icon-clock mr-3"></i>
                        <span>{{date}}</span>
                    </div>
                    <div class="col-6 col-xl-3 text-right">
                        <span>${{price}},00</span>
                    </div>
                    <div class="col-xl-2 text-center pt-3 pt-xl-0">
                        <small class="p-1 bg-light-{{status-btn}} rounded-sm text-white btn-block text-uppercase">
                            {{status}}
                        </small>
                    </div>
                </div>
            </div>
            <div id="collapseOne{{id}}" class="collapse pt-0" aria-labelledby="heading-{{id}}" data-parent="#accordionOrdersExample">
                <hr class="m-0">
                <div class="card-body bg-white">
                    {{#each (take ../data.products 4)}}

                    <div class="mb-3 mb-lg-4 bg-light shadow-sm px-4 py-3">
                        <div class="row align-items-center no-gutters p-md-2">
                            <div class="col-lg-2">
                                <img src="assets/images/demo/{{img}}" class="img-fluid br-sm shadow-sm" alt="Image title">
                            </div>
                            <div class="col-lg-5 pl-lg-3 py-2 py-lg-0">
                                <div><strong>{{title}}</strong></div>
                                <small class="text-muted">Electronics</small>
                            </div>
                            <div class="col-6 col-lg-2">
                                <div><small class="pre-label">Qty</small></div>
                                <span>2</span>
                            </div>
                            <div class="col-6 col-lg-3 text-right">
                                <div><small class="pre-label">Total</small></div>
                                <span>${{price}},00</span>
                            </div>
                        </div>
                    </div>

                    {{/each}}
                </div>
            </div>
        </div>

        {{/each}}
    </div>
</div>
